<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Smart Store</title>
  <style media="screen">
    .footer{
      position: fixed;
    }
  </style>
</head>

<body style="background-color:#f7f7f7;">
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}
  <br><br><br><br><br><br><br>
<h3 style="text-align:center;"> Dibuat pada tahun 2022, Smart Store merupakan sebuah platform yang disesuaikan untuk tiap wilayah 
  dan menyediakan pengalaman berbelanja online yang mudah, aman, dan cepat bagi pelanggan. Smart Store menyediakan berbagai produk alat tulis kantor. </h3>
<br><br><br><br><br><br><br><br><br><br><br>
  {% include "ecom/footer.html" %}
</body>


</html>
